name: Infrasight CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.6"
          cache: true

      - name: Build Server
        run: go build -v ./cmd/server/main.go

      - name: Build Agent
        run: go build -v ./cmd/agent/main.go

      - name: Run Linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8.0
